// ==========================================================================
// Breakpoints
// ==========================================================================

$bp-login-page: 1200px;

// ==========================================================================
// Typography
// ==========================================================================

//
// Font Sizes
//

$font-size-base: 16px;
$font-size-btn: 12px;

// ==========================================================================
// Colors
// ==========================================================================

//
// Branding
//

$clr-primary: #38c1fe;
$clr-secondary: #101010;
$gradient-primary: linear-gradient(-225deg, #00f2fe 0%, #4facfe 100%);

//
// Contextual
//

$clr-error: #d11e1e;

//
// Text
//

$clr-text: #58666e;
$clr-subtext: #8b99a1;
$clr-heading: #101010;

//
// Borders
//

$clr-border: #cfdadd;
$clr-border-active: #01f1fe;
