// ==========================================================================
// Breakpoints
// ==========================================================================

$bp-login-page: 1200px;

// ==========================================================================
// Layout
// ==========================================================================

$height-header: 65px;
$height-mobile-header: 56px;
$height-footer: 48px;
$height-editor-toolbar: 45px;
$height-mobile-editor-toolbar: 92px;

// ==========================================================================
// Typography
// ==========================================================================

//
// Font Sizes
//

$font-size-base: 16px;
$font-size-btn: 12px;

//
// Font Weights
//

$font-weight-base: 400;
$font-weight-thin: 300;
$font-weight-thick: 600;

$font-weight-base: $font-weight-base;
$font-weight-bold: $font-weight-thick;
$font-weight-heading: $font-weight-thick;
$font-weight-lg-heading: $font-weight-thin;
$font-weight-btn: $font-weight-thick;
$font-weight-label: $font-weight-thick;

// ==========================================================================
// Colors
// ==========================================================================

//
// Branding
//

$clr-primary: #38c1fe;
$clr-secondary: #101010;
$gradient-primary: linear-gradient(-225deg, #00f2fe 0%, #4facfe 100%);

//
// Contextual
//

$clr-success: #3c763d;
$clr-error: #d11e1e;

//
// Text
//

$clr-text: #58666e;
$clr-text-darken: #101010;
$clr-text-lighten: #8b99a1;
$clr-heading: #101010;

//
// Backgrounds
//

$clr-bg-body: #f1f3f4;
$clr-bg-hover: #edf1f2;
$clr-bg-footer: #e1e7ea;

//
// Borders
//

$clr-border: #cfdadd;
$clr-border-active: #01f1fe;

// ==========================================================================
// Shadows
// ==========================================================================

$shadow-card: 0 1px 1px 0 rgba(0, 0, 0, 0.05);

// ==========================================================================
// Top-Level Z-Indexing
// ==========================================================================

$z-index-header: 100;
$z-index-modal-backdrop: 200;
$z-index-modal: 300;
$z-index-notification: 400;
$z-index-app-loader: 500;
