//
// Editor
//

.editor {
  border-top: 1px solid $clr-border;
  padding-top: $height-mobile-editor-toolbar;

  .react-mde {
    border: none;
    border-bottom: 1px solid $clr-border;
  }
  .mde-header {
    background: darken($clr-bg-body, 2.5%);
    border-bottom: 1px solid $clr-border;
    border-radius: 0;
    padding: 0 30px;
    position: absolute;
    top: 1px;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .react-mde-horizontal-layout .mde-content .mde-preview {
    border-left: 1px solid $clr-border;
  }
  .mde-text .public-DraftEditor-content,
  .mde-preview .mde-preview-content {
    padding: 30px 50px;
  }
  .mde-header ul.mde-header-group li.mde-header-item button {
    color: $clr-text;
    line-height: 1;
    &:hover {
      color: $clr-text-darken;
    }
  }
  // Hide most controls at REALLY small viewport.
  .mde-header-group:nth-child(2),
  .mde-header-group:nth-child(3) {
    display: none;
  }
  .mde-header .mde-toolbar-children {
    display: block;
    padding: 0 10px 10px 10px;
    width: 100%;
  }
  .mde-tabs .mde-tab {
    border: none;
    @include pill;
    opacity: 0.75;
  }
  .mde-tabs .mde-tab.mde-tab-activated,
  .mde-tabs .mde-tab.mde-tab-activated:hover {
    @include pill-active;
    opacity: 1;
  }
}

@media (min-width: 350px) {
  .editor {
    // Hide only some controls at small viewport.
    .mde-header-group:nth-child(2) {
      display: block;
    }
  }
}

@media (min-width: 600px) {
  .editor {
    .mde-header-group:nth-child(3) {
      display: block;
    }
  }
}

@media (min-width: 700px) {
  .editor {
    padding-top: $height-editor-toolbar;

    .mde-header .mde-toolbar-children {
      display: flex;
      padding: 5px;
      width: auto;
    }
  }
}

//
// View Toolbar
//

.editor .view-toolbar {
  display: none;
}

@media (min-width: 1000px) {
  .editor .view-toolbar {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: $height-editor-toolbar;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1px; // Inside top border.
    right: 40px;
    z-index: 2;

    a {
      @include pill;
      display: block;
      opacity: 0.75;
      font-size: 14px;
    }
    .active a {
      @include pill-active;
      opacity: 1;
    }
  }
}

//
// Sticky Toolbar
//

.stick-editor-toolbar .editor {
  .mde-header {
    position: fixed;
    top: $height-mobile-header;
    right: 0;
    left: 0;
  }
  .view-toolbar {
    position: fixed;
    top: $height-header;
  }
}

@media (min-width: 992px) {
  .stick-editor-toolbar .editor {
    top: $height-header;
  }
}

//
// Editor Views
//

@media (min-width: 1000px) {
  .editor {
    &.view-split {
      .mde-text {
        width: 50%;
      }
      .mde-preview {
        overflow: scroll;
        position: absolute;
        top: $height-editor-toolbar;
        right: 0;
        bottom: 0;
        width: 50%;
      }
    }
    &.view-edit {
      .mde-preview {
        display: none;
      }
      .mde-text {
        font-size: 18px;
        width: 100%;
      }
      .public-DraftEditor-content {
        margin: 0 auto;
        max-width: 800px;
        padding-right: 0;
        padding-left: 0;
      }
    }
    &.view-preview {
      .mde-text {
        display: none;
      }
      .mde-preview {
        font-size: 18px;
        width: 100%;
      }
      .mde-preview-content {
        margin: 0 auto;
        max-width: 800px;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

//
// Editor Preview
//

.mde-preview .mde-preview-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: none;
    font-weight: $font-weight-heading;
    margin: 30px 0 24px 0;
    padding: 0;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.25rem;
    }
    h5 {
      font-size: 1rem;
    }
    h6 {
      font-size: 0.85rem;
    }
  }
  p,
  ul,
  ol {
    margin-bottom: 24px;
  }
  img,
  blockquote {
    margin: 30px 0;
  }
  p > img,
  p > blockquote {
    margin: 0;
  }
  ul,
  ol {
    padding: 0 0 0 40px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  hr {
    margin: 30px 0;
  }
}
