//
// Filter Menu
//

.filter-menu {
  margin: 0 auto;
  max-width: 1000px;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -4px;
    padding: 0 0 24px 0;
  }
  button {
    @include pill;
  }
  .active button,
  .active button:hover {
    @include pill-active;
  }
}
