//
// Post Search
//

.post-search {
    margin: 0 0 40px 0;

    input {
        border: none;
        border-bottom: 5px solid $clr-border;
        box-shadow: $shadow-card;
        color: #101010;
        font-size: 20px;
        font-weight: 300;
    }
    input:focus {
        border-color: $clr-primary;
    }
}

@media (min-width: 768px) {
    .post-search {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;

        input {
            font-size: 28px;
            padding: 34px 20px;
        }
    }
}

//
// No Results Message
//

.no-results {
    font-size: 20px;
    margin: -10px auto 0 auto;
    max-width: 1000px;
    padding: 0 10px;
}
