//
// Fade Routing
//

.dashboard-home,
.dashboard-edit-post {
  &.primary-exit {
    display: none;
  }
}

@media (min-width: 992px) {
  .dashboard-home,
  .dashboard-edit-post {
    background: $clr-bg-body;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.primary-enter {
      opacity: 0;
    }
    &.primary-enter-active {
      opacity: 1;
      transition: opacity 0.25s $timing-ease-in-out, transform 0.25s $timing-ease-in-out;
    }
    &.primary-exit {
      display: block;
      opacity: 1;
    }
    &.primary-exit-active {
      opacity: 0;
      transition: opacity 0.25s $timing-ease-in-out, transform 0.25s $timing-ease-in-out;
    }
    &.primary-exit-done {
      display: none;
    }
  }
  // Enter from, exit to, the LEFT.
  .dashboard-home {
    &.primary-enter {
      transform: translate(-10px, 0);
    }
    &.primary-enter-active {
      transform: translate(0, 0);
    }
    &.primary-exit {
      transform: translate(0, 0);
    }
    &.primary-exit-active {
      transform: translate(-10px, 0);
    }
  }
  // Enter from, exit to, the RIGHT.
  .dashboard-edit-post {
    &.primary-enter {
      transform: translate(10px, 0);
    }
    &.primary-enter-active {
      transform: translate(0, 0);
    }
    &.primary-exit {
      transform: translate(0, 0);
    }
    &.primary-exit-active {
      transform: translate(10px, 0);
    }
  }
}
