.components-example {
    background: #61dafb;
    color: #101010;
    padding: 50px;
    text-align: center;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    code {
        background: #f0f2f1;
        color: #f4645f;
        padding: 1px 5px;
        border-radius: 3px;
    }
}
