//
// Utilities
//

@import '../../_assets/scss/partials/_variables.scss';

//
// Login Logo
//

.login-logo {
    text-align: center;

    img {
        display: inline-block;
        margin: 10px 0;
        width: 150px;
    }
    .tagline {
        color: #fff;
        display: block;
        // font-weight: 300;
    }
    a {
        color: rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }
    a:hover {
        border-color: #fff;
        color: #fff;
    }
}

@media (min-width: $bp-login-page) {
    .login-logo img {
        margin-bottom: 5px;
        width: 210px;
    }
}
